@import
 url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'
);

body
 {
  background: #E5E5E5;
font-family
: 
'Poppins'
, sans-serif;
scroll-behavior: auto;
}

*
 {
  
font-family
: 
'Poppins'
, sans-serif;
}

